<div fxFlex="100%" fxLayout="row" fxLayoutGap="10px">
    <div fxFlex="50%" fxLayout="column" fxLayoutGap="10px">
        <h2 fxFlex="100%" style="color: #EDEDED; margin-bottom: 0px;">
            NOSOTROS LO SOLUCIONAMOSPOR USTED.
        </h2>
        <p fxFlex="100%" class="white-p">
            Solo nos cuentas cómo te la imaginas y nosotros la hacemos realidad, nosotros creamos la web a su medida, profesional sin que tenga que preocuparse de nada, nosotros nos encargamos de todoDeja que los profesionales de CubanWebSolution se ocupen de tu
            web.
        </p>
        <div fxFlex="100%" fxLayout="row" fxLayoutAlign="end">
            <svg id="boton_conocer_mas" data-name="boton conocer mas" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="141" height="31" viewBox="0 0 141 31">
                <defs>
                  <clipPath id="clip-path">
                    <rect width="18" height="9" fill="none"/>
                  </clipPath>
                </defs>
                <rect id="Rectángulo_1" data-name="Rectángulo 1" width="141" height="31" rx="5" fill="#0acc0a"/>
                <g id="Grupo_5" data-name="Grupo 5" transform="translate(12 3.842)">
                  <text id="CONOCER_MÀS" data-name="CONOCER MÀS" transform="translate(0 16.158)" fill="#ededed" font-size="13" font-family="Lato-Regular, Lato"><tspan x="0" y="0">CONOCER MÀS</tspan></text>
                  <g id="_04_Arrow_02_Small" data-name="04 Arrow / 02 Small" transform="translate(110.741 18) rotate(-90)" clip-path="url(#clip-path)">
                    <path id="Arrow" d="M.263.3h0a.813.813,0,0,0,0,1.2L7.7,8.5a1.877,1.877,0,0,0,2.544,0l7.492-7.057a.813.813,0,0,0,.009-1.19A.94.94,0,0,0,16.464.248L9.609,6.706a.939.939,0,0,1-1.273,0L1.535.3A.938.938,0,0,0,.263.3" fill="#ededed"/>
                  </g>
                </g>
              </svg>
        </div>
    </div>
</div>