<div fxFlex="auto" fxLayout="column">
    <div fxFlex="100%">Acerca de la Empresa </div>
    <div fxFlex="100%">POR QUÉ ELEGIRNOS : </div>
    <p fxFlex="100%">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip
        ex ea commodo consequat. </p>
    <div fxFlex="100%" fxLayout="column">
        <div>Servicio 24 horas.</div>
        <div>Equipo altamente calificado.</div>
        <div>Capacitación con las últimas tecnologías.</div>
        <div>Mejores ofertas.</div>
    </div>

</div>