<div fxFlex="100%" fxLayout="column" style="border-radius: 8px;   box-shadow: 0 3px 6px rgba(0, 0, 0, .16) !important; max-width: 60px; background-color: white; padding: 9%;">

    <div fxFlex="100%" fxLayout="row">
        <div>

        </div>
        <div style="color: black;">
            DESARROLLO Y DISEÑO WEB
        </div>
    </div>
    <p fxFlex="100%">
        Es fundamental tener una buena presencia digital, independientemente del tamaño de tu empresa, incluso si no vendes online. El objetivo de una web es aumentar tu presencia en internet y, por tanto, tus ventas…
    </p>
    <div fxFlex="100%" fxLayout="row" fxLayoutAlign="end" style="font-size: 16;
    font-family: Lato-Regular, Lato;">
        CONOCER MÁS
    </div>

    <div>

    </div>
</div>