.btn-section {
    // transform: translate(0, 10);
    color: rgb(237, 237, 237);
    font-size: 16 !important;
    font-family: Lato-Regular, Lato !important;
     :hover {
        color: rgb(10, 204, 10);
    }
}

.icon-text {
    color: white;
}