<div fxFlex="100%" fxLayout="column">
    <div fxFlex="100%" fxLayout="row" fxLayoutAlign=" end" fxLayoutGap="10px grid" style="padding-inline: 12%; background-color: #000000; opacity: 0.7; padding-right: 0px !important;">
        <!-- Icon -->
        <div fxFlex="25%">
            <div style="color: white;">
                A
            </div>
            <hr style="orientation: vertical;">
            <div fxFlex="100%" fxLayout="column">
                <div class="icon-text">Cuban</div>
                <div class="icon-text">Web</div>
                <div class="icon-text">Solution</div>
            </div>
        </div>
        <!-- Buttons -->
        <div fxFlex="45%" fxLayout="row" fxLayoutGap="50px">
            <div class="btn-section">Inicio</div>
            <div class="btn-section">Servicios</div>
            <div class="btn-section">Nosotros</div>
            <div class="btn-section">Blog</div>
            <div class="btn-section">Contacto</div>
        </div>
        <!-- Phone -->
        <div fxFlex="30%" fxLayout="row" fxLayoutAlign="end">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="134" height="29" viewBox="0 0 134 29">
            <defs>
              <clipPath id="clip-path">
                <rect width="13.271" height="18.409" fill="none"/>
              </clipPath>
            </defs>
            <g id="boton_llamar" data-name="boton llamar" transform="translate(-1093 -50)">
              <rect id="Rectángulo_1" data-name="Rectángulo 1" width="134" height="29" rx="5" transform="translate(1093 50)" fill="#0acc0a"/>
              <text id="_53_5789_34_57" data-name="+53 5789 34 57" transform="translate(1122.153 70)" fill="#ededed" font-size="14" font-family="Lato-Regular, Lato"><tspan x="0" y="0">+53 5789 34 57</tspan></text>
              <g id="_03_Icon_01_Phone" data-name="03 Icon / 01 Phone" transform="translate(1100 55)" clip-path="url(#clip-path)">
                <path id="Phone_Icon" data-name="Phone Icon" d="M12.535,18.409H.738A.673.673,0,0,1,0,17.834V.575A.673.673,0,0,1,.738,0h11.8a.672.672,0,0,1,.737.575V17.834A.672.672,0,0,1,12.535,18.409ZM1.327,1.315v15.78H11.944V1.315ZM6.8,15.451H6.387a.5.5,0,0,1,0-.986H6.8a.5.5,0,0,1,0,.986ZM7.963,3.123H5.06c-.229,0-.414-.258-.414-.575s.186-.576.414-.576h2.9c.229,0,.414.258.414.576S8.191,3.123,7.963,3.123Z" transform="translate(0)" fill="#ededed"/>
              </g>
            </g>
          </svg>
        </div>
    </div>
    <div fxFlex="100%" style="padding-inline:12%; position:relative; ">
        <hr fxFlex="100% " style=" color: white;">
    </div>
</div>