<div fxFlex="100%">
    <img src="assets\img\packages\pAQUETES-01-01-01.jpg" alt="" style="width: 100%; object-fit: cover; height:100%; object-position: center;">

    <div fxFlex="100%" fxLayout="column" style="position: absolute; padding-inline: 20%">
        <div fxFlex="100%" fxLayout="row" fxLayoutAlign="center" style="color: white;">PAQUETES</div>
        <div fxFlex="100%" fxLayout="row" fxLayoutAlign="center" style="color: white;">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. V </div>

        <div fxFlex="100%" fxLayout="row" fxLayoutAlign="center" fxLayoutGap="30px">
            <app-home-packages-item></app-home-packages-item>
            <app-home-packages-item></app-home-packages-item>
            <app-home-packages-item></app-home-packages-item>
        </div>
    </div>
</div>