<div fxFlex="100%">
    <img src="assets\img\home\inicio 0.5@2x.jpg" alt="" style="width: 100%; object-fit: cover; height:100%; object-position: center;">


    <div fxFlex="100%" fxLayout="column" style="position: absolute; top: 0;">
        <app-home-toolbar fxFlex="100%"></app-home-toolbar>
        <div fxFlex="100%" fxLayout="column" fxLayoutGap="80px" style="padding-inline: 15%;">
            <app-home-we-fix fxFlex="100%"></app-home-we-fix>
            <app-home-services fxFlex="100%"></app-home-services>
            <app-home-about-us fxFlex="100%"></app-home-about-us>
        </div>
        <app-home-packages fxFlex="100%"></app-home-packages>
        <app-home-footer fxFlex="100%"></app-home-footer>
    </div>
</div>

<!-- style="position: absolute; top: 0;" -->
<!-- style="position: relative;" -->